<!-- complex -->
        <table class="table table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th style="width:15%"></th>
              <th style="width:21%">1 Day Tour</th>
              <th style="width:21%">7 Day Tour</th>
              <th style="width:21%">Custom Length Tour</th>
              <th style="width:21%">Yacht Charter</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">
                <strong>Sailing Only</strong>
              </td><!-- empty -->
              <td>
                <p>Travel to a remote beach, relax on our yacht, and snorkel with your friends.</p>
                <p>Includes:</p> 
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                </ul>
              </td><!-- daily sailing -->
              <td>
                <p>Sailing in all our major areas, with breaks for beaches, excursions and more.</p>
                <p>Includes:</p> 
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Airport transfer to marina</li>
                  <li>Trinidad historical tour</li>
                </ul>
              </td><!-- weekly sailing -->
              <td>
                <p>If you have a different trip length, e-mail us and we will arrange options for you.</p> 
                <p>Includes:</p>
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Airport transfer to marina</li>
                  <li>Trinidad historical tour</li>
                </ul>
              </td><!-- custom sailing -->
              <td>
                <p>Book our yacht exclusively for your group with skipper on board for a week or more.</p> 
                <p>Includes:</p>
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Airport transfer to marina</li>
                  <li>Trinidad historical tour</li>
                </ul>
              </td><!-- charter sailing -->
            </tr>
            <tr class="booking-option-pricing active">
              <td>Prices start at <strong>USD $150/p.p.</strong></td>
              <td>Prices start at <strong>USD $850/p.p.</strong></td>
              <td>Prices are <strong>negotiated</strong></td>
              <td>Prices start at <strong>USD $4000</strong></td>
            </tr>
            <tr>
              <td rowspan="2">
                <strong>Sailing And Diving</strong>
              </td><!-- empty -->
              <td>
                <p>Daily dives in Rancho Luna (outside Cienfuegos) or Cayo Blanco (outside Trinidad).</p>
                <p>Includes:</p> 
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Divemaster on board</li>
                  <li>Diving equipment (BCD, regulator)</li>
                </ul>
              </td><!-- daily diving -->
              <td>
                <p>Sailing and diving in all our major areas, with breaks for beaches and excursions.</p>
                <p>Includes:</p> 
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Airport transfer to marina</li>
                  <li>Trinidad historical tour</li>
                  <li>Divemaster on board</li>
                  <li>Diving equipment (BCD, regulator)</li>
                </ul>
              </td><!-- weekly diving -->
              <td>
                <p>If you have a different trip length, e-mail us and we will arrange options for you.</p> 
                <p>Includes:</p> 
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Airport transfer to marina</li>
                  <li>Trinidad historical tour</li>
                  <li>Divemaster on board</li>
                  <li>Diving equipment (BCD, regulator)</li>
                </ul>
              </td><!-- custom diving -->
              <td>
                <p>Book our yacht exclusively for your diving group with our crew for a week or more.</p> 
                <p>Includes:</p> 
                <ul>
                  <li>Food, beverages, snacks and alcohol.</li>
                  <li>Snorkeling masks, fins.</li>
                  <li>Airport transfer to marina</li>
                  <li>Trinidad historical tour</li>
                  <li>Divemaster on board</li>
                  <li>Diving equipment (BCD, regulator)</li>
                </ul>
              </td><!-- charter diving -->
            </tr>
            <tr class="booking-option-pricing active">
              <td>Prices start at <strong>USD $200/p.p.</strong></td>
              <td>Prices start at <strong>USD $1500/p.p.</strong></td>
              <td>Prices are <strong>negotiated</strong></td>
              <td>Prices start at <strong>USD $9000</strong></td>
            </tr>
          </tbody>
        </table>